@model IPageViewModel<SitePageData>

<footer class="dummy-theme__footer">
    <span>Dummy Tools</span>
    <span class="dummy-theme__nav">Configurable CMS journeys powered by reusable form containers.</span>
</footer>
